{% extends 'learning/base.html' %}

{% block body %}
{% if last_input %}
    <ul>
    {% for entry in last_input %}
        <li><a href="/learning/detail">{{ entry.id }} {{ entry }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No entries are available.</p>
{% endif %}
{% endblock %}