{% extends 'learning/base.html' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <center><h2>TU Wien: Klassifikation von Monitoringdatenreihen</h2></center>
        <center><img src="/learning/main.png" style="max-width:1000px !important;max-height:250px !important;width:100% !important;height:auto !important;"></center>
        <center>Bitte waehlen Sie eine der 3 Kategorien aus! <br>
                Im Anschluss werden Plots durch zufaellig gewaehlte Daten generiert,
                die als "Relevant" oder "Irrelevant" eingestuft werden sollen. <br>
                Die Klassifizierung soll unter Verwendung
                Ihrer Erfahrung und Ihres Wissens erfolgen.<br><br></center>
    </div>

    <div class="row">
    <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="caption">
            <h3>Blaue Plots auswählen</h3>
                <p><form action="{% url 'monitoring' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" name="blue">
                        <span class="glyphicon glyphicon-tint"></span>&nbsp;Blaue Plots
                    </button>
                </form>
                </p>
          </div>
        </div>
      </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
            <h3>Grüne Plots auswählen</h3>
                <p><form action="{% url 'monitoring' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success" name="green">
                        <span class="glyphicon glyphicon-leaf"></span>&nbsp;Grüne Plots
                    </button>
                </form>
                </p>
          </div>
        </div>
     </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
            <h3>Rote Plots auswählen</h3>
                <p><form action="{% url 'monitoring' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" name="red">
                        <span class="glyphicon glyphicon-fire"></span>&nbsp;Rote Plots
                    </button>
                </form>
                </p>
          </div>
        </div>
    </div>

</div>
</div>
{% endblock %}