{% extends 'learning/base.html' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <center><img src="/learning/figure_blue.png" alt="No Image"></center>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h3>Figure {{ ts1.id }}</h3>
                {% if ts1.relevance == 1 %}
                <div class="alert alert-success">
                  <strong>Relevant!</strong> Dieser Plot ist relevant.
                </div>
                {% elif ts1.relevance == 0 %}
                <div class="alert alert-danger">
                  <strong>Irrelevant!</strong> Dieser Plot ist irrelevant.
                </div>
                {% else %}
                <p><form action="{% url 'relevant' ts_id1=ts1.id ts_id2=ts2.id ts_id3=ts3.id color=color %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success" name="btn1r">
                        <span class="glyphicon glyphicon-ok"></span>&nbsp;Submit
                    </button>
                </form>
                <form action="{% url 'irrelevant' ts_id1=ts1.id ts_id2=ts2.id ts_id3=ts3.id color=color %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" name="btn1i">
                        <span class="glyphicon glyphicon-remove"></span>&nbsp;Decline
                    </button>
                </form>
                </p>
              {% endif %}
          </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h3>Figure {{ ts2.id }}</h3>
                {% if ts2.relevance == 1 %}
                <div class="alert alert-success">
                  <strong>Relevant!</strong> Dieser Plot ist relevant.
                </div>
                {% elif ts2.relevance == 0 %}
                <div class="alert alert-danger">
                  <strong>Irrelevant!</strong> Dieser Plot ist irrelevant.
                </div>
                {% else %}
                <p><form action="{% url 'relevant' ts_id1=ts1.id ts_id2=ts2.id ts_id3=ts3.id color=color %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success" name="btn2r">
                        <span class="glyphicon glyphicon-ok"></span>&nbsp;Submit
                    </button>
                </form>
                <form action="{% url 'irrelevant' ts_id1=ts1.id ts_id2=ts2.id ts_id3=ts3.id color=color %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" name="btn2i">
                        <span class="glyphicon glyphicon-remove"></span>&nbsp;Decline
                    </button>
                </form>
                </p>
              {% endif %}
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h3>Figure {{ ts3.id }}</h3>
                {% if ts3.relevance == 1 %}
                <div class="alert alert-success">
                  <strong>Relevant!</strong> Dieser Plot ist relevant.
                </div>
                {% elif ts3.relevance == 0 %}
                <div class="alert alert-danger">
                  <strong>Irrelevant!</strong> Dieser Plot ist irrelevant.
                </div>
                {% else %}
                <p><form action="{% url 'relevant' ts_id1=ts1.id ts_id2=ts2.id ts_id3=ts3.id color=color %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success" name="btn3r">
                        <span class="glyphicon glyphicon-ok"></span>&nbsp;Submit
                    </button>
                </form>
                <form action="{% url 'irrelevant' ts_id1=ts1.id ts_id2=ts2.id ts_id3=ts3.id color=color %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" name="btn3i">
                        <span class="glyphicon glyphicon-remove"></span>&nbsp;Decline
                    </button>
                </form>
                </p>
              {% endif %}
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <form class="refresh" action="{% url 'monitoring' %}" method="post">
                {% csrf_token %}
                <button type="refresh" class="btn btn-primary" name="{{ color }}">
                    <span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh
                </button>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}