body{
    background: white url("images/backgr.jpg");
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family: 'Lobster', cursive;
}

img{
    position: relative;
    margin: 10px 10px 10px 10px;
    max-width: 1200px;
    max-height: 350px;
    width: 100%;
    height: auto;
    display: block;
    align: middle;
    border:0.5px solid gray;
}


figcaption {
  padding: 10px;
  text-align: center;
  display: block;
}


form {
    display:inline-block;
}

.refresh {
    position: relative;
    margin: 0px 10px 8px 74px;
    float: left;
    display: block;
}

.thumbnail {
   position: relative;
   margin: 0px 10px 8px 58px;
   float: left;
   display: block;
   width: 300px;
   height: 130px;

}






